.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  img {
    align-self: center;
  }
}
#root {
  background-color: #fff;
  background-size: cover;
  font-family: "Josefin Sans", sans-serif;
}
