.favourites {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  color: #de1c85;
  height: max-content;
  min-width: 250px;

  &-text {
    width: 60%;
    margin: 10px;
  }
  &-header {
    background-color: #de1c85;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    border-top: 2px solid #fff;
  }
  &-img {
    width: 15%;
    height: max-content;
    margin: 10px;
  }
  &-close {
    font-size: 30px;
    margin: 10px;
    color: green;
    &:hover {
      cursor: pointer;
    }
  }
  &-body {
    background: url("https://cdn.shopify.com/s/files/1/1143/5434/products/Wallshoppe_Drop_Shadow_Barbie_Wallpaper_by_Barbie__Bubblegum_Design_b5057966-c10d-492b-815a-48dd8a57a323_1200x1200.jpg?v=1616553208");
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    max-height: max-content;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    background-position: center;
  }
  border: 2px solid #de1c85;
}

